html, body, header, nav, aside, h1, h2, ul, li, a, figure, p, section, label, select, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

  background-color: transparent;
}

body {
  line-height: 1.5px;
}

ol, ul, li{
  list-style: none;
}r

img {
  max-width: 100%;
}