/* PHASE 9: Forms */
.form {
  margin: 0 0 20px 0;
  display: flex;
}

.form-fieldset {
  float: left;
  margin: 0 0 0 20px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
  padding: 19px;
  height: 310px;
  width: 500px;
} 

.input {
  margin: 0 0 20px 0;
}

.input > label {
  display: block;
}

.form-title {

}