/* PHASE 1: Header */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}
.header {
  background: #f00;
  color: white;
  border-bottom: 1px solid #ccc;

}

.header-nav {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  
}

.header-logo {
  /* float: left; */
  font-weight: 700;
  border-right: 1px solid #ccc;
}

.header-list {
  display: flex;
}

.header-list li {
  border-left: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-logo a:hover {
  background: #000;
}

.header-list li a:hover {
  background: #000;
}